<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Customer</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/postcustomer.js"></script>
</head>
<body>
	<form id="customerForm" style="margin: 20px 20px 20px 20px">
		<div>
			<label for="name">Customer Name:</label> <input type="text"
				id="customerName" name="customerName" required>
		</div>
		<br>
		<div>
			<label for="city">City:</label> <input type="text" id="city"
				name="city" required>
		</div>
		<br>
		<div>
			<input type="submit" value="submit" id="submit">
		</div>
	</form>
</body>
</html>