<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Get Stock By Name</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/getstock.js"></script>
</head>
<body>
	<div style="margin: 20px 20px 20px 20px">
		<div>
			<label for="name">Stock Name:</label> <input type="text"
				id="stockName" name="stockName" required>
		</div>
		<br>
		<button id="submit">Submit</button>
		<br> <br>
		<div class="col-sm-8" id="resultDiv"></div>
	</div>
</body>
</html>