<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Get All Stocks</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/getallstocks.js"></script>
</head>
<body>
	<div style="margin: 20px 20px 20px 20px">
		<button id="getall">Get All Stocks</button>
		<br> <br>
		<div class="col-sm-5" id="resultDiv"></div>
	</div>
</body>
</html>