<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Order Stock</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/postorder.js"></script>
</head>
<body>
	<div style="margin: 20px 20px 20px 20px">
		<div>
			<label for="name">Customer Name:</label> <input type="text"
				id="customerName" name="customerName" required>
		</div>
		<br>
		<div id="fig"></div>
		<br>
		<button id="addstock">Add Stock</button>
		<button id="submit">Submit</button>
	</div>
</body>
</html>